<%- include('./partials/html-head')  %> 
<link rel="stylesheet" href="/stylesheets/style.css">
<%- include('./partials/nav')  %>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="/stylesheets/style.css">
<title><%= title %></title>
<main>
  <h1><%= title %></h1>
  <a href="/flights">All Flights</a>
  <a href="/flights/new">Add Flight</a>
</main
<%- include('./partials/footer')  %> 